src/main/resources/wsdl/QueryIdentifiedStocksIn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:rfc="urn:sap-com:sap:rfc:functions"
    xmlns:tns="http://sap.com/xi/A1S/Global"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:n1="http://sap.com/xi/SAPGlobal20/Global"
    xmlns:n2="http://sap.com/xi/AP/Common/Global"
    xmlns:n3="http://sap.com/xi/DocumentServices/Global"
    xmlns:n4="http://sap.com/xi/BASIS/Global"
    xmlns:n5="http://sap.com/xi/AP/Common/GDT"
    xmlns:n6="http://sap.com/xi/AP/FO/IdentifiedStock/Global" targetNamespace="http://sap.com/xi/A1S/Global">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:HttpBasicAuthentication/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sapsp:HTTPSSO2/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN_BN_binding">
        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:HttpBasicAuthentication/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sapsp:HTTPSSO2/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF_IF_QueryIdentifiedStocksIn">
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
            <sapcentraladmin:BusinessApplicationID>00163EADB98B1EEBA2F9416534C09CEC</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_IF_OP_QueryByElements">
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/SAPGlobal20/Global" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
            <xsd:import namespace="http://sap.com/xi/A1S/Global"/>
            <xsd:element name="IdentifiedStockQueryMessage_sync" type="xi2:IdentifiedStockQueryMessage_sync"/>
            <xsd:element name="IdentifiedStockQueryResponseMessage" type="xi2:IdentifiedStockQueryResponseMessage"/>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/AP/Common/Global" targetNamespace="http://sap.com/xi/AP/Common/Global">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="url" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="id" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GLOBAL_SelectionByDateTime">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi5:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi5:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryDateTime" type="xi4:GLOBAL_DateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyKey">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PartyTypeCode" type="xi5:BusinessObjectTypeCode"/>
                    <xsd:element minOccurs="0" name="PartyID" type="xi5:PartyID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RequirementSpecificationKey">
                <xsd:sequence>
                    <xsd:element name="RequirementSpecificationID" type="xi5:RequirementSpecificationID"/>
                    <xsd:element minOccurs="0" name="RequirementSpecificationVersionID" type="xi5:VersionID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByCode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi5:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi5:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryCode" type="xi4:Code"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryCode" type="xi4:Code"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByIdentifier">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi5:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi5:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryIdentifier" type="xi5:SearchText"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryIdentifier" type="xi5:SearchText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByText">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi5:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi5:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryText" type="xi5:SearchText"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryText" type="xi5:SearchText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StandardFaultMessageExtension">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Log" type="xi5:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="StandardFaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                        <xsd:element name="addition" type="StandardFaultMessageExtension"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/A1S/Global" targetNamespace="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/DocumentServices/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/FO/IdentifiedStock/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/Global"/>
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="IdentifiedStockQuantityConversionQueryRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="BaseQuantity" type="xi5:Quantity"/>
                    <xsd:element minOccurs="0" name="CorrespondingQuantity" type="xi5:Quantity"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedStockQueryMessage_sync">
                <xsd:sequence>
                    <xsd:element name="IdentifiedStockSelectionByElements" type="IdentifiedStockRequestQuery"/>
                    <xsd:element name="ProcessingConditions" type="xi5:QueryProcessingConditions"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedStockQueryResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="IdentifiedStockID" type="xi5:IdentifiedStockID"/>
                    <xsd:element minOccurs="0" name="ExternalIdentifiedStockID" type="xi5:IdentifiedStockID"/>
                    <xsd:element minOccurs="0" name="ProductID" type="xi5:ProductID"/>
                    <xsd:element minOccurs="0" name="ProductionDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="ExpirationDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="SupplierID" type="xi1:PartyKey"/>
                    <xsd:element minOccurs="0" name="ProductRequirementSpecificationKey" type="xi1:RequirementSpecificationKey"/>
                    <xsd:element minOccurs="0" name="LifeCycleStatusCode" type="xi6:IdentifiedStockStatus"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Description" type="xi5:MEDIUM_Description"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="QuantityConversion" type="IdentifiedStockQuantityConversionQueryRequest"/>
                    <xsd:element minOccurs="0" name="AttachmentFolder" type="xi3:AccessAttachmentFolder"/>
                    <xsd:element minOccurs="0" name="TextCollection" type="xi3:AccessTextCollection"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedStockQueryResponseMessage">
                <xsd:sequence>
                    <xsd:element name="ProcessingConditions" type="xi5:ResponseProcessingConditions"/>
                    <xsd:element name="Log" type="xi5:Log"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="IdentifiedStock" type="IdentifiedStockQueryResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedStockRequestQuery">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByIdentifiedStockID" type="xi1:SelectionByIdentifier"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByExternalIdentifiedStockID" type="xi1:SelectionByIdentifier"/>
                    <xsd:element minOccurs="0" name="SelectionBySearchText" type="xi5:SearchText"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByIdentifiedStockDescription" type="xi1:SelectionByText"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionBySupplierIDPartyID" type="xi1:SelectionByIdentifier"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByLifeCycleStatusCode" type="xi1:SelectionByCode"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByIdentifiedStockTypeCode" type="xi1:SelectionByCode"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByProductValuationLevelTypeCode" type="xi1:SelectionByCode"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByProductionDateTime" type="xi1:GLOBAL_SelectionByDateTime"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByExpirationDateTime" type="xi1:GLOBAL_SelectionByDateTime"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByMaterialKeyProductID" type="xi1:SelectionByIdentifier"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByProductRequirementSpecificationKeyRequirementSpecificationID" type="xi1:SelectionByIdentifier"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByAdministrativeDataCreationDateTime" type="xi1:GLOBAL_SelectionByDateTime"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByAdministrativeDataLastChangeDateTime" type="xi1:GLOBAL_SelectionByDateTime"/>
                    <xsd:element minOccurs="0" name="selectionByBatchManagedIndicator" type="xi5:Indicator"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/DocumentServices/Global" targetNamespace="http://sap.com/xi/DocumentServices/Global">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="AccessAttachmentFolder">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="UUID" type="xi5:UUID"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" type="AccessAttachmentFolderDocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessAttachmentFolderDocument">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="UUID" type="xi5:UUID"/>
                    <xsd:element minOccurs="0" name="VersionID" type="xi5:VersionID"/>
                    <xsd:element minOccurs="0" name="SystemAdministrativeData" type="xi5:SystemAdministrativeData"/>
                    <xsd:element minOccurs="0" name="LinkInternalIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="CheckedOutIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="VisibleIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="VersioningEnabledIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="CategoryCode" type="xi5:DocumentCategoryCode"/>
                    <xsd:element minOccurs="0" name="CategoryName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="TypeCode" type="xi5:DocumentTypeCode"/>
                    <xsd:element minOccurs="0" name="TypeName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="MIMECode" type="xi5:MIMECode"/>
                    <xsd:element minOccurs="0" name="MIMEName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="PathName" type="xi5:LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element minOccurs="0" name="Name" type="xi5:LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element minOccurs="0" name="AlternativeName" type="xi5:LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element minOccurs="0" name="InternalLinkUUID" type="xi5:UUID"/>
                    <xsd:element minOccurs="0" name="Description" type="xi5:Description"/>
                    <xsd:element minOccurs="0" name="ExternalLinkWebURI" type="xi5:WebURI"/>
                    <xsd:element minOccurs="0" name="FileContentURI" type="xi5:URI"/>
                    <xsd:element minOccurs="0" name="FilesizeMeasure" type="xi5:Measure"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Property" type="AccessAttachmentFolderDocumentProperty"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessAttachmentFolderDocumentProperty">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TechnicalID" type="xi5:ObjectNodeTechnicalID"/>
                    <xsd:element minOccurs="0" name="Name" type="xi5:LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element minOccurs="0" name="DataTypeFormatCode" type="xi5:PropertyDataTypeFormatCode"/>
                    <xsd:element minOccurs="0" name="DataTypeFormatName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="VisibleIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="ChangeAllowedIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="MultipleValueIndicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="NamespaceURI" type="xi5:NamespaceURI"/>
                    <xsd:element minOccurs="0" name="Description" type="xi5:Description"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="PropertyValue" type="AccessAttachmentFolderDocumentPropertyPropertyValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessAttachmentFolderDocumentPropertyPropertyValue">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TechnicalID" type="xi5:ObjectNodeTechnicalID"/>
                    <xsd:element minOccurs="0" name="Text" type="xi5:LANGUAGEINDEPENDENT_Text"/>
                    <xsd:element minOccurs="0" name="Indicator" type="xi5:Indicator"/>
                    <xsd:element minOccurs="0" name="DateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="IntegerValue" type="xi5:IntegerValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessTextCollection">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="UUID" type="xi5:UUID"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Text" type="AccessTextCollectionText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessTextCollectionText">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TechnicalID" type="xi5:ObjectNodeTechnicalID"/>
                    <xsd:element minOccurs="0" name="TypeCode" type="xi5:TextCollectionTextTypeCode"/>
                    <xsd:element minOccurs="0" name="TypeName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="LanguageCode" type="xi4:LanguageCode"/>
                    <xsd:element minOccurs="0" name="LanguageName" type="xi5:LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element minOccurs="0" name="SystemAdministrativeData" type="xi5:SystemAdministrativeData"/>
                    <xsd:element minOccurs="0" name="CreationDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="TextContent" type="AccessTextCollectionTextTextContent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccessTextCollectionTextTextContent">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TechnicalID" type="xi5:ObjectNodeTechnicalID"/>
                    <xsd:element minOccurs="0" name="Text" type="xi5:Text"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/BASIS/Global" targetNamespace="http://sap.com/xi/BASIS/Global">
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="16"/>
                    <xsd:enumeration value="17"/>
                    <xsd:enumeration value="84"/>
                    <xsd:enumeration value="107"/>
                    <xsd:enumeration value="109"/>
                    <xsd:enumeration value="112"/>
                    <xsd:enumeration value="113"/>
                    <xsd:enumeration value="114"/>
                    <xsd:enumeration value="116"/>
                    <xsd:enumeration value="117"/>
                    <xsd:enumeration value="124"/>
                    <xsd:enumeration value="130"/>
                    <xsd:enumeration value="131"/>
                    <xsd:enumeration value="138"/>
                    <xsd:enumeration value="142"/>
                    <xsd:enumeration value="146"/>
                    <xsd:enumeration value="262"/>
                    <xsd:enumeration value="296"/>
                    <xsd:enumeration value="310"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Code">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:token">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/AP/Common/GDT">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:complexType name="BusinessObjectTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessObjectTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessObjectTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Description">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="languageCode" type="xi4:LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="DocumentCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="DocumentTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="DocumentTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="DocumentTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="IdentifiedStockID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="IdentifiedStockID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="IdentifiedStockID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="IdentifiedStockLifeCycleStatusCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="InclusionExclusionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntegerValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntervalBoundaryTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_Text">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="Log">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"/>
                    <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="LogItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"/>
                    <xsd:element minOccurs="0" name="CategoryCode" type="LogItemCategoryCode"/>
                    <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
                    <xsd:element minOccurs="0" name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"/>
                    <xsd:element minOccurs="0" name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element name="Note" type="LogItemNote"/>
                    <xsd:element minOccurs="0" name="NoteTemplateText" type="LogItemNoteTemplateText"/>
                    <xsd:element minOccurs="0" name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList"/>
                    <xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
                <xsd:sequence>
                    <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="LogItemNoteTemplateText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="73"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTemplatePlaceholderID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Description">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Description.Content">
                        <xsd:attribute name="languageCode" type="xi4:LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Description.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MIMECode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token"/>
            </xsd:simpleType>
            <xsd:complexType name="Measure">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="Measure.Content">
                        <xsd:attribute name="unitCode" type="MeasureUnitCode" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Measure.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="31"/>
                    <xsd:fractionDigits value="14"/>
                    <xsd:maxInclusive value="99999999999999999.99999999999999"/>
                    <xsd:minInclusive value="-99999999999999999.99999999999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeasureUnitCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="NamespaceURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="NumberValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int">
                    <xsd:maxInclusive value="999999999"/>
                    <xsd:minInclusive value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ObjectID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ObjectID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ObjectID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodeTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ProductID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ProductID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ProductID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PropertyDataTypeFormatCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Quantity">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="Quantity.Content">
                        <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Quantity.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="31"/>
                    <xsd:fractionDigits value="14"/>
                    <xsd:maxInclusive value="99999999999999999.99999999999999"/>
                    <xsd:minInclusive value="-99999999999999999.99999999999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="QueryProcessingConditions">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="QueryHitsMaximumNumberValue" type="NumberValue"/>
                    <xsd:element name="QueryHitsUnlimitedIndicator" type="Indicator"/>
                    <xsd:element minOccurs="0" name="LastReturnedObjectID" type="ObjectID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RequirementSpecificationID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="RequirementSpecificationID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="RequirementSpecificationID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ResponseProcessingConditions">
                <xsd:sequence>
                    <xsd:element name="ReturnedQueryHitsNumberValue" type="NumberValue"/>
                    <xsd:element name="MoreHitsAvailableIndicator" type="Indicator"/>
                    <xsd:element minOccurs="0" name="LastReturnedObjectID" type="ObjectID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="SearchText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="SystemAdministrativeData">
                <xsd:sequence>
                    <xsd:element name="CreationDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="CreationIdentityUUID" type="UUID"/>
                    <xsd:element minOccurs="0" name="LastChangeDateTime" type="xi4:GLOBAL_DateTime"/>
                    <xsd:element minOccurs="0" name="LastChangeIdentityUUID" type="UUID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Text">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="languageCode" type="xi4:LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="TextCollectionTextTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="TextCollectionTextTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="TextCollectionTextTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="URI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="VersionID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/AP/Common/Global"
            xmlns:xi2="http://sap.com/xi/A1S/Global"
            xmlns:xi3="http://sap.com/xi/DocumentServices/Global"
            xmlns:xi4="http://sap.com/xi/BASIS/Global"
            xmlns:xi5="http://sap.com/xi/AP/Common/GDT"
            xmlns:xi6="http://sap.com/xi/AP/FO/IdentifiedStock/Global"
            xmlns="http://sap.com/xi/AP/FO/IdentifiedStock/Global" targetNamespace="http://sap.com/xi/AP/FO/IdentifiedStock/Global">
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="IdentifiedStockStatus">
                <xsd:sequence>
                    <xsd:element name="LifeCycleStatusCode" type="xi5:IdentifiedStockLifeCycleStatusCode"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IdentifiedStockQueryMessage_sync">
        <wsdl:part element="n1:IdentifiedStockQueryMessage_sync" name="IdentifiedStockQueryMessage_sync"/>
    </wsdl:message>
    <wsdl:message name="IdentifiedStockQueryResponseMessage">
        <wsdl:part element="n1:IdentifiedStockQueryResponseMessage" name="IdentifiedStockQueryResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="StandardFaultMessage">
        <wsdl:part element="n2:StandardFaultMessage" name="StandardFaultMessage"/>
    </wsdl:message>
    <wsdl:portType name="QueryIdentifiedStocksIn">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="AP-PRD-IS"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_IF_QueryIdentifiedStocksIn"/>
        </wsp:Policy>
        <wsdl:operation name="QueryByElements">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IF_OP_QueryByElements"/>
            </wsp:Policy>
            <wsdl:input message="tns:IdentifiedStockQueryMessage_sync"/>
            <wsdl:output message="tns:IdentifiedStockQueryResponseMessage"/>
            <wsdl:fault message="tns:StandardFaultMessage" name="StandardFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding_SOAP12" type="tns:QueryIdentifiedStocksIn">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_BN_binding_SOAP12"/>
        </wsp:Policy>
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryByElements">
            <wsoap12:operation soapAction="http://sap.com/xi/A1S/Global/QueryIdentifiedStocksIn/QueryByElementsRequest" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="binding" type="tns:QueryIdentifiedStocksIn">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_BN_binding"/>
        </wsp:Policy>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryByElements">
            <soap:operation soapAction="http://sap.com/xi/A1S/Global/QueryIdentifiedStocksIn/QueryByElementsRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="service">
        <wsdl:port binding="tns:binding_SOAP12" name="binding_SOAP12">
            <wsoap12:address location="https://my602026.sapbyd.cn/sap/bc/srt/scs/sap/queryidentifiedstocksin?sap-vhost=my602026.sapbyd.cn"/>
        </wsdl:port>
        <wsdl:port binding="tns:binding" name="binding">
            <soap:address location="https://my602026.sapbyd.cn/sap/bc/srt/scs/sap/queryidentifiedstocksin?sap-vhost=my602026.sapbyd.cn"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>